# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Puppeteer / Chromium cache
.chromium/
.chromium-cache/
.cache/
downloads/
screenshot.png

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# Linux
*.swp
*~
.cache/

# Logs
logs/
*.log

# dotenv
.env
.env.local

# Koyeb or deployment files
.koyeb/
